* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #e4e3d9;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    margin-top: 20px;
    list-style-type: none;
}


nav ul li a {
    color: #283a14;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #a0591b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover:after {
    width: 100%;
}

.app {
    background: #293e11;
    width: 90%;
    height: 580px;
    max-width: 600px;
    margin: 10px auto 0;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.app h1 {
    font-weight: 800;
    border-bottom: 1px solid #e4e3d9;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #e4e3d9;
}

#buttons {
    text-align: center;
    margin-top: 40px;
}

#buttons button {
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 12px 24px;
    background-color: #e4e3d9;
    color: #18240b;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

#back-button {
    display: flex;
    justify-content: center;
    background: #a0591b;
    color: #fff;
    font-weight: 400;
    width: 150px;
    border: 0;
    padding: 12px 24px;
    margin: 30px auto 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}