body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e4e3d9;
}

nav {
    display: flex;
    justify-content: center;
    margin-right: 37px;
    margin-top: 10px;
}

nav ul {
    margin-top: 20px;
    list-style-type: none;
}


nav ul li a {
    color: #283a14;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #a0591b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover:after {
    width: 100%;
}





#title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

h1 {
    color: #293e11;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 60%;
}

#table-container {
    display: flex;
    justify-content: center;
}

th,
td {
    border: 2px solid #293e11;
    opacity: 0.8;
    padding: 8px;
    text-align: center;
}

th {
    text-align: center;
    background-color: #f2f2f2;
    color: #a0591b;
    font-weight: bold;
}

#button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


#button {
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 12px 24px;
    background-color: #a0591b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

#button:hover {
    background-color: #315c00;
    transition: 0.5s;
}

#subtitle {
    text-align: center;
}